.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nombre-link {
    color: #FFFFFF; 
    text-decoration: none; 
}

.B1 {
    flex: 1;
    text-align: left;
    padding-left: 10px; /* Ajuste del margen izquierdo */
}

.B2 {
    flex: 1;
    text-align: right;
    padding-right: 10px; /* Ajuste del margen derecho */
}

.titulo {
    margin-bottom: 10px;
}

.SM {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.SM a {
    margin: 0 10px;
    width: auto;
}

.SM img {
    height: 30px;
}
.popoverContent {
    display: flex;
    align-items: center;
    padding: 10px;
}

.popoverImage img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .B1,
    .B2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        padding: 0; /* Eliminar el padding en pantallas más pequeñas */
    }

    .SM {
        flex-direction: row;
        justify-content: center;
    }

    .SM a {
        margin: 10px 10px; /* Ajuste del margen */
    }

    .SM img {
        height: 25px;
        margin-right: 20px;
    }
}